.tagline {
    background-color: #d32f2f; /* Red */
    color: white;
    padding: 2rem;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .tagline h2 {
    font-size: 2rem;
    font-weight:100;
    font-style: italic;
    font-weight: 500;
  }
  